<div class="row">
  <div class="col-6">
    <div class="card">
      <app-doughnut [dougnutData]="chart1"></app-doughnut>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-doughnut [dougnutData]="chart2"></app-doughnut>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <app-doughnut [dougnutData]="chart3"></app-doughnut>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-doughnut [dougnutData]="chart4"></app-doughnut>
    </div>
  </div>
</div>
