<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Users</h3>
        <div *ngIf="!users" class="alert alert-info">
          <p class="mb-0">No users found!</p>
        </div>
        <div *ngIf="users" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i=index">
                <td>{{ i }}</td>
                <td><img class="w100" [src]="user.img | image:'usuarios'"></td>
                <td>{{ user.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Doctors</h3>
        <div *ngIf="!doctors" class="alert alert-info">
          <p class="mb-0">No doctors found!</p>
        </div>
        <div *ngIf="doctors" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors; let i=index"
                  (click)="openDoctor(doctor)" class="cursor">
                <td>{{ i }}</td>
                <td><img class="w100" [src]="doctor.img | image:'medicos'"></td>
                <td>{{ doctor.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitals</h3>
        <div *ngIf="!hospitals" class="alert alert-info">
          <p class="mb-0">No Hospitals found!</p>
        </div>
        <div *ngIf="hospitals" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals; let i=index">
                <td>{{ i }}</td>
                <td><img class="w100" [src]="hospital.img | image:'hospitales'"></td>
                <td>{{ hospital.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
