<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input type="text"
        class="form-control"
        placeholder="Search Doctor"
        #txtTerm>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registered Doctors</h4>
        <h6 class="card-subtitle">Total Doctors ({{ doctors.length }})</h6>
        <div class="text-right">
          <button [routerLink]="['/dashboard/doctors/new']" routerLinkActive="router-link-active"  class="mb-2 btn btn-primary"><i class="fa fa-plus pr-2"></i>New Doctor</button>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Picture</th>
                <th>
                  Name
                </th>
                <th class="text-nowrap w100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors">
                <td class="text-center">
                  <img [src]="doctor.img | image:'medicos'"
                       [alt]="doctor.nombre"
                       (click)="openModal(doctor)"
                       class="avatar"
                       />
                </td>
                <td>
                  {{ doctor.nombre }}
                </td>
                <td class="text-nowrap text-center">
                  <a
                     data-toggle="tooltip"
                     class="cursor"
                     data-original-title="Edit"
                     >
                     <i class="fa fa-pencil text-inverse m-r-10">

                     </i>
                  </a>
                  <a
                     data-toggle="tooltip"
                     class="cursor"
                     data-original-title="Delete"
                     >
                     <i class="fa fa-close text-danger">

                     </i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
