<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input type="text"
        class="form-control"
        placeholder="Search Hospital"
        #txtTerm>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registered hospitals</h4>
        <h6 class="card-subtitle">Total hospitals </h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Picture</th>
                <th>
                  <input type="text"
                         class="form-control"
                         placeholder="Enter Hospital name"
                  />
                </th>
                <th class="text-nowrap w100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                </td>
                <td></td>
                <td class="text-nowrap text-center">
                  <a data-toggle="tooltip"
                     class="cursor"
                     data-original-title="Delete"
                     >
                     <i class="fa fa-close text-danger">

                     </i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary"
                >Previous</button>
        <button class="btn btn-secondary"
                >Next</button>
      </div>
    </div>
  </div>
</div>
