/* You can add global styles to this file, and also import other style files */

.cursor {
  cursor: pointer;
}


.w100 {
  width: 100px;
}

.avatar {
  width: 30px;
  border-radius: 100%;
  border: 1px solid grey;
}
